.cache/
.build/

books/book-1
books/book-2
books/book-3

./books/book-1/images/cover.png
./books/book-2/images/cover.png
./books/book-3/images/cover.png

animation/blender
animation/resources
animation/Makefile

public/books

research/common

*.kra
resources/
